@model Fyxme.Models.Request

@{
    ViewBag.Title = "Home";
}

<!-- Top background -->
<div id="bg_top">

    <!-- Centered captions -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="caption_center_white_1">Body shop to your doorstep</h1>
                <h1 class="caption_center_white_2">Dents, dings and scratches are a bummer!<br />Fixing them just got easier.</h1>
                <div id="spacer_to_caption_learn_more">
                    <a id="a2_how_it_works" name="a2_how_it_works" class="caption_learn_more" href="#how-it-works"><p>Learn More</p></a>
                    <a id="a3_how_it_works" name="a3_how_it_works" href="#how-it-works">
                        <img src="@Url.Content("~/Content/Images/down_arrow_bold.png")" width="29" height="29" border="0" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- End -->

</div>
<!-- End -->

<div id="spacer_to_content">

    <!-- How it works -->
    <a id="how-it-works" name="how-it-works"></a>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section_title">HOW IT WORKS</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="@Url.Content("~/Content/Images/camera_ico.png")" width="80" height="80" />
                <h2 class="subtitle_center">Upload Your<br />Photo(s)</h2>
                <p class="subtitle_text_center">&nbsp;Upload photo(s) of your<br />scratch, dent or ding.</p>
            </div>
            <div class="col-md-4">
                <img src="@Url.Content("~/Content/Images/conversation_ico.png")" width="80" height="80" />
                <h2 class="subtitle_center">Get Upfront Discounted<br />Pricing</h2>
                <p class="subtitle_text_center">&nbsp;Up to 60% cheaper than your<br />regular body shop.</p>
            </div>
            <div class="col-md-4">
                <img src="@Url.Content("~/Content/Images/calendar_ico.png")" width="80" height="80" />
                <h2 class="subtitle_center">Schedule Your<br />Appointment</h2>
                <p class="subtitle_text_center">&nbsp;A mobile car technician<br />will come to you anytime,<br />anywhere.</p>
            </div>
        </div>
    </div>
    <!-- End -->
    <!-- Get started -->
    <div id="spacer_to_get_started_form_content">

        <a id="get_started" name="get_started"></a>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div style="width:100%; text-align:center;">
                        <div id="get_started_form" class="get-started-form">

                            <a id="why-use-fyxme" name="why-use-fyxme"></a>

                            <div id="btn_get_started" class="btn-get-started"><a id="a1_get_started" name="a1_get_started" href="#get_started">GET STARTED NOW</a></div>
                            <div id="form">
                                <div id="content">

                                    @using (Html.BeginForm("AddRequest", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        <div class="text-item">Upload Photo(s)</div>
                                        <div id="upload_pic_1">
                                            <div class="u-file"><input id="txtUFile1" name="txtUFile1" type="file" onchange="$('#txtUploadPic1').val(this.value.split('\\').pop().split('/').pop());"></div>
                                            <input type="text" id="txtUploadPic1" name="txtUploadPic1" class="textbox" placeholder="Select a photo to upload" />
                                            <div style="width:206px;">
                                                <div id="btnAddPic1" name="btnAddPic1" class="btn-upload" style="float:right; width:50px">+</div>
                                                <div id="btnUpload1" name="btnUpload1" class="btn-upload" onclick="browseFile('txtUFile1');">Select Photo</div>
                                            </div>
                                        </div>
                                        <div id="upload_pic_2" class="upload-pic-form">
                                            <input type="text" id="txtUploadPic2" name="txtUploadPic2" class="textbox" placeholder="Select a photo to upload" />
                                            <div class="u-file"><input id="txtUFile2" name="txtUFile2" type="file" onchange="$('#txtUploadPic2').val(this.value.split('\\').pop().split('/').pop());"></div>
                                            <div style="width:206px;">
                                                <div id="btnAddPic2" name="btnAddPic1" class="btn-upload" style="float:right; width:50px">+</div>
                                                <div id="btnUpload2" name="btnUpload1" class="btn-upload" onclick="browseFile('txtUFile2');">Select Photo</div>
                                            </div>
                                        </div>
                                        <div id="upload_pic_3" class="upload-pic-form">
                                            <input type="text" id="txtUploadPic3" name="txtUploadPic3" class="textbox" placeholder="Select a photo to upload" />
                                            <div class="u-file"><input id="txtUFile3" type="file" onchange="$('#txtUploadPic3').val(this.value.split('\\').pop().split('/').pop());"></div>
                                            <div style="width:206px;">
                                                <div id="btnAddPic3" name="btnAddPic3" class="btn-upload" style="float:right; width:50px">+</div>
                                                <div id="btnUpload3" name="btnUpload3" class="btn-upload" onclick="browseFile('txtUFile3');">Select Photo</div>
                                            </div>
                                        </div>
                                        <div id="upload_pic_4" class="upload-pic-form">
                                            <input type="text" id="txtUploadPic4" name="txtUploadPic4" class="textbox" placeholder="Select a photo to upload" />
                                            <div id="btnUpload4" name="btnUpload4" class="btn-upload" onclick="browseFile('txtUFile4');">Select Photo</div>
                                        </div>
                                        <div class="text-item-small">Don’t have a photo yet? No worries, just submit a brief description and text us the photo(s) later to <span>(323) 594-7401</span></div>
                                        <div>
                                            <div id="spacer-input">
                                                @Html.TextBoxFor(model => model.FirstName, new { @class = "textbox", placeholder = "First Name" })
                                                @Html.ValidationMessageFor(model => model.FirstName, null, new { @class = "field-validation-error" })
                                            </div>
                                            <div id="spacer-input">
                                                @Html.TextBoxFor(model => model.LastName, new { @class = "textbox", placeholder = "Last Name" })
                                                @Html.ValidationMessageFor(model => model.LastName, null, new { @class = "field-validation-error" })
                                            </div>
                                            <div id="spacer-input">
                                                @Html.TextBoxFor(model => model.Email, new { @class = "textbox", placeholder = "Email address" })
                                                @Html.ValidationMessageFor(model => model.Email, null, new { @class = "field-validation-error" })
                                            </div>
                                            <div id="spacer-input">
                                                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "textbox", placeholder = "Mobile Phone Number" })
                                                @Html.ValidationMessageFor(model => model.PhoneNumber, null, new { @class = "field-validation-error" })
                                            </div>
                                            <div id="spacer-input">
                                                @Html.TextBoxFor(model => model.ZipCode, new { @class = "textbox", placeholder = "Zip Code" })
                                                @Html.ValidationMessageFor(model => model.ZipCode, null, new { @class = "field-validation-error" })
                                            </div>
                                            <div id="spacer-input">
                                                @Html.DropDownListFor(model => model.SelectedCarMakerId, new SelectList(Model.DDListCarMakers, "Value", "Text"), new { @Id = "cboCarMakers", @class = "textbox", @onchange = "ddlUpdateValues('Home/UpdateCarModels', this.value, 'cboCarModels')" })
                                            </div>
                                            <div id="spacer-input">
                                                @Html.DropDownListFor(model => model.SelectedCarModelId, new SelectList(Model.DDListCarModels, "Value", "Text"), new { @Id = "cboCarModels", @class = "textbox", @onchange = "ddlUpdateValues('Home/UpdateCarYears', this.value, 'cboCarYears')" })
                                                @Html.ValidationMessageFor(model => model.SelectedCarModelId, null, new { @class = "field-validation-error" })
                                            </div>
                                            <div id="spacer-input">
                                                @Html.DropDownListFor(model => model.SelectedCarYearId, new SelectList(Model.DDListCarYears, "Value", "Text"), new { @Id = "cboCarYears", @class = "textbox" })
                                                @Html.ValidationMessageFor(model => model.SelectedCarYearId, null, new { @class = "field-validation-error" })
                                            </div>
                                             <div id="spacer-input">
                                                @Html.TextAreaFor(model => model.DamageDescription, new { @class = "textarea", placeholder = "Damage Description (Optional)", id = "txtDamageDesc_01" })
                                                @Html.ValidationMessageFor(model => model.DamageDescription, null, new { @class = "field-validation-error" })
                                                <div class="characters-available" id="damageDescCharactersLeft_01"><span>500</span> charaters available</div>
                                            </div>
                                            <div class="text-item-small">By submitting my request for a quote, I agree that Fyxme or its representatives may contact me by email, phone, or text message at the email address or telephone number I provided.</div>
                                                <div style="text-align:left;margin-bottom:16px;">
                                                    <button id="btnSubmit" class="btn-upload" type="submit">Submit</button>
                                                </div>
                                            </div>

                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End -->
    <!-- Why use Fyxme -->
    <div id="bg_why_fyxme_1"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <h1 class="caption_center_white_1">Too busy to go to the shop?</h1>
                    <h1 class="caption_center_white_2">How about we come to you!<br />Your location, your schedule, 7 days a week.</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="section_title_why_fyxme">AVAILABLE IN THE FOLLOWING LOCATIONS</div>
            </div>
            <div class="col-md-12">
                <div style="margin-top:20px;"><img src="@Url.Content("~/Content/Images/map.png")" style="width:55%;" /></div>
            </div>
            <div class="col-md-12">
                <div class="text-item-default" style="margin-top:20px;margin-bottom:58px;"><b>California:</b> Los Angeles, Orange County.</div>
            </div>
        </div>
    </div>

    <div id="bg_why_fyxme_2"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <h1 class="caption_center_white_3">Don't let the body shop overcharge you</h1>
                    <h1 class="caption_center_white_2">9 out of 10 body shops will turn a small job into a big job.<br />Our car technicians will only fix what’s necessary,<br />and for a fraction of the cost.</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- End -->
    <!-- Technicians -->
    <a id="meet-our-technicians" name="meet-our-technicians"></a>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="meet-our-tech">MEET OUR TECHNICIANS</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="@Url.Content("~/Content/Images/danny.jpg")" width="140" height="140" class="img-circle" onclick="$('#techA').slideDown();" />
            </div>
            <div class="col-md-4">
                <img src="@Url.Content("~/Content/Images/kim.jpg")" width="140" height="140" class="img-circle" onclick="$('#techB').slideDown();" />
            </div>
            <div class="col-md-4">
                <img src="@Url.Content("~/Content/Images/jason.jpg")" width="140" height="140" class="img-circle" onclick="$('#techC').slideDown();" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="techA" style="display:none">
                    <div class="tech-desc">
                        <div class="x-pos">
                            <div class="x" onclick="$('#techA').slideUp();">X</div>
                        </div>
                        <div class="tech-desc-content">
                            <span>Danny G.</span><br />
                            Danny’s been fixing cars since 2005. He lives in Los Angeles with his wife and 3 children. Danny loves Hockey and is a big fan of the Montreal Canadiens.
                        </div>
                    </div>
                </div>
                <div id="techB" style="display:none">
                    <div class="tech-desc">
                        <div class="x-pos">
                            <div class="x" onclick="$('#techB').slideUp();">X</div>
                        </div>
                        <div class="tech-desc-content">
                            <span>Kim L.</span><br />
                            Kim has more than 25 years of body shop experience. He has owned his shop for 10 years and is looking forward to servicing Fyxme clients.
                        </div>
                    </div>
                </div>
                <div id="techC" style="display:none">
                    <div class="tech-desc">
                        <div class="x-pos">
                            <div class="x" onclick="$('#techC').slideUp();">X</div>
                        </div>
                        <div class="tech-desc-content">
                            <span>Jason W.</span><br />
                            Jason was born in New Jersey and recently moved to Los Angeles. Jason loves cars and has serviced multiple dealerships for the past 8 years.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tech-bottom">
                    <div>Are you a talented car technician?</div>
                    <div class="btn-default-blue tech-btn">WORK WITH US</div>
                </div>
            </div>
        </div>

    </div>
    <!-- End -->
    <!-- FAQ -->
    <div style="width:100%; background-color: #3d3637; padding-top: 30px;padding-bottom: 30px; margin-top: 28px;">

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="faq-img"><img src="@Url.Content("~/Content/Images/faq_car_new_ico.png")" width="80" height="80" /></div>
                    <h2 class="faq-subtitle">Will the car look brand new?</h2>
                    <p class="faq-subtitle-text">The car will look as if the scratch, dent or ding never happened (unless told otherwise by the technician prior to fixing your car).</p>
                </div>
                <div class="col-md-4">
                    <div class="faq-img"><img src="@Url.Content("~/Content/Images/faq_qualified_ico.png")" width="80" height="80" /></div>
                    <h2 class="faq-subtitle">Are the technicians qualified?</h2>
                    <p class="faq-subtitle-text">We only work with professional car repair experts that provide high quality work.</p>
                </div>
                <div class="col-md-4">
                    <div class="faq-img"><img src="@Url.Content("~/Content/Images/faq_included_ico.png")" width="80" height="80" /></div>
                    <h2 class="faq-subtitle">Is there an additional fee for a technician to come to my location?</h2>
                    <p class="faq-subtitle-text">No, our upfront pricing includes all fees.</p>
                </div>
            </div>
            <div class="row">
                <div class="desktop-only">
                    <div class="col-md-4"><div class="faq-sepparator"></div></div>
                    <div class="col-md-4"><div class="faq-sepparator"></div></div>
                    <div class="col-md-4"><div class="faq-sepparator"></div></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="faq-img"><img src="@Url.Content("~/Content/Images/faq_repair_location_ico.png")" width="80" height="80" /></div>
                    <h2 class="faq-subtitle">Will the car look brand new?</h2>
                    <p class="faq-subtitle-text">The car will look as if the scratch, dent or ding never happened (unless told otherwise by the technician prior to fixing your car).</p>
                </div>
                <div class="col-md-4">
                    <div class="faq-img"><img src="@Url.Content("~/Content/Images/faq_job_done_ico.png")" width="80" height="80" /></div>
                    <h2 class="faq-subtitle">Are the technicians qualified?</h2>
                    <p class="faq-subtitle-text">We only work with professional car repair experts that provide high quality work.</p>
                </div>
                <div class="col-md-4">
                    <div class="faq-img"><img src="@Url.Content("~/Content/Images/free_schedule_ico.png")" width="80" height="80" /></div>
                    <h2 class="faq-subtitle">Is there an additional fee for a technician to come to my location?</h2>
                    <p class="faq-subtitle-text">No, our upfront pricing includes all fees.</p>
                </div>
            </div>
            <div class="row">
                <div class="desktop-only">
                    <div class="col-md-4"><div class="faq-sepparator"></div></div>
                    <div class="col-md-4"><div class="faq-sepparator"></div></div>
                    <div class="col-md-4"><div class="faq-sepparator"></div></div>
                </div>
            </div>
        </div>

    </div>
    <!-- End -->
    <!-- Testimonials -->
    <div style="width:100%; background-color: #231f20; padding-top: 60px; padding-bottom: 30px; margin-bottom: 58px;">

        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <ul class="bxslider">
                        <li>
                            <div class="testi-img testi-bg-1"></div>
                            <div class="testi-text"><p>Nicole M, Downtown LA</p>Fyxme sent me a car technician the very next day. He performed the job while I was at work and I paid half of what the body shop quoted me. Thank you Fyxme.</div>
                        </li>
                        <li>
                            <div class="testi-img testi-bg-2"></div>
                            <div class="testi-text"><p>Marian G, Pasadena</p>After getting 3 overpriced quotes from different body shops I decided to use Fyxme. I was not disappointed, the technician came the same day and fixed my car in my driveway. He was polite, courteous, and saved me a lot of money.</div>
                        </li>
                        <li>
                            <div class="testi-img testi-bg-3"></div>
                            <div class="testi-text"><p>Freddy S. Santa Monica</p>I’m so glad I came across Fyxme. I paid significantly less and the job was perfect. My car looked as it had never been scratched before.</div>
                        </li>
                        <li>
                            <div class="testi-img testi-bg-4"></div>
                            <div class="testi-text"><p>Graham J. Venice Beach</p>Thank you Fyxme. Amazing job at a great price. Will definitely recommend you to anyone who needs your service.</div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
    <!-- End -->
    <!-- Contact Us -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="contact-us">CONTACT US</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="@Url.Content("~/Content/Images/iconography_05.png")" width="80" height="80" />
                <h2 class="subtitle_center">Phone</h2>
                <p class="subtitle_text_center">1-888-98-FYXME</p>
            </div>
            <div class="col-md-6">
                <img src="@Url.Content("~/Content/Images/thoughts_ico.png")" width="80" height="80" />
                <h2 class="subtitle_center">email</h2>
                <p class="subtitle_text_center">&nbsp;info@fyxme.com</p>
            </div>
        </div>
    </div>
    <!-- End -->

<script>

    function ddlUpdateValues(controller, value, object)
    {
        $.ajax({
            url: controller,
            type: 'post',
            data: { value: value }
        }).done(function (response) {
            $("#" + object).html(response);
        });
    }

</script>