<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your Mobile Body Shop on Demand. We fix car scratches, dents and dings. Up to 60% savings, no hidden fees.">
    <meta name="keywords" content="auto body repair, auto body shop, car scratch repair, car dent removal, auto dent removal, mobile dent repair, scratch and dent, fix car scratch, car bumper repair, auto body painting, auto body paint">
    <meta name="image-hide-from-external-url" content="true" />
    <meta name="image-hide-location" content="true" />
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />


    <title>@ViewBag.Title - Fyxme</title>
    <link href='@Url.Content("~/Content/Css/bootstrap.css")' rel='stylesheet' type='text/css'>
    <link href='@Url.Content("~/Content/Css/Admin.css")' rel='stylesheet' type='text/css'>
    <link href='@Url.Content("~/Content/Css/jquery.bxslider.css")' rel='stylesheet' type='text/css'>

    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")"></script>
    <script src="@Url.Content("~/Scripts/respond.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.bxslider.js")"></script>

    <script src="@Url.Content("~/Scripts/jquery.validate-vsdoc.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

    <!-- Google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>

</head>
<body>
    @{
        var action = ViewContext.RouteData.GetRequiredString("action");
    }

    @if (action == "Index")
    {
        // Login
        Html.RenderPartial("_LayoutPartialAdminlLogin");
    }
    else
    {
        // Admin pages
        Html.RenderPartial("_LayoutPartialAdminTop");
    }

    @RenderBody()

</body>
</html>
