<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your Mobile Body Shop on Demand. We fix car scratches, dents and dings. Up to 60% savings, no hidden fees.">
    <meta name="keywords" content="auto body repair, auto body shop, car scratch repair, car dent removal, auto dent removal, mobile dent repair, scratch and dent, fix car scratch, car bumper repair, auto body painting, auto body paint">
    <meta name="image-hide-from-external-url" content="true" />
    <meta name="image-hide-location" content="true" />
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />


    <title>@ViewBag.Title - Fyxme</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bxslider")
    @Scripts.Render("~/bundles/js.scripts")


    <!-- Google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>

</head>
<body>
    
    <!-- Top Menu -->
    <div id="top_menu">
        <div id="fyxme_logo"><a href="@Url.Content("~/Home")"><img src="@Url.Content("~/Content/Images/fyxmy_logo.svg")" width="160" height="67" border="0" alt="" /></a></div>
        <div id="options">

            <div class="desktop-only">
                <div class="option"><a id="a1_how_it_works" name="a1_how_it_works" href="#how-it-works">HOW IT WORKS</a></div>
                <div class="option"><a id="a1_why_use_fyxme" name="a1_why_use_fyxme" href="#why-use-fyxme">WHY USE FYXME</a></div>
                <div class="option"><a id="a1_technicians" name="a1_technicians" href="#meet-our-technicians">TECHNICIANS</a></div>
                <div class="blue">1-888-98-FYXME</div>
                <div class="get_started_box" onclick="$('#btn_get_started').click();">GET STARTED</div>
            </div>

            <div class="mobile-only">
                <div class="blue" id="mobPhone">1-888-98-FYXME</div>
                <div class="option"><img id="btnMenuForMobile" src="@Url.Content("~/Content/Images/mob_menu.png")" width="34" height="21" /></div>
            </div>

        </div>
    </div>
    <div id="top_bg_color"></div>
    <div class="mobile-only">
        <div id="mob_top_bg_color"></div>
        <div id="mob_options">
            <div class="mob_option"><a id="a1_how_it_works" name="a1_how_it_works" href="#how-it-works">HOW IT WORKS</a></div>
            <div class="mob_option"><a id="a1_why_use_fyxme" name="a1_why_use_fyxme" href="#why-use-fyxme">WHY USE FYXME</a></div>
            <div class="mob_option"><a id="a1_technicians" name="a1_technicians" href="#technicians">TECHNICIANS</a></div>
            <div class="mob_get_started_box">GET STARTED</div>
        </div>
    </div>
    <!-- End Top Menu -->
        
    @RenderBody()

    <!-- Footer -->
    <div style="width:100%; background-color: #f1f1f1; padding-top: 30px; padding-bottom: 60px; margin-top: 34px;">

        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="footer-top-text">Fyxme</div>
                    <div class="footer-text">How it works</div>
                    <div class="footer-text">About Us</div>
                    <div class="footer-text">FAQs</div>
                    <div class="footer-text">Testimonials</div>
                    <div class="footer-text">Contact Us</div>
                    <div class="footer-text">Cities</div>
                </div>
                <div class="col-md-2">
                    <div class="footer-top-text">Legal</div>
                    <div class="footer-text">Privacy Policy</div>
                    <div class="footer-text">Terms & Conditions</div>
                </div>
                <div class="col-md-2">
                    <div class="footer-top-text">For Car<br />Technicians</div>
                    <div class="footer-text">Work with Us</div>
                </div>
                <div class="col-md-2">
                    <div class="footer-top-text">Social</div>
                    <div class="footer-text">Yelp</div>
                    <div class="footer-text">Facebook</div>
                    <div class="footer-text">Twitter</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-text-copyright">© 2015 Fyxme, All rights reserved. Made with <span>♥</span> in California</div>
                </div>

            </div>
        </div>
    </div>
    <!-- End -->

    </div>
        
</body>
</html>
